 
.nav{
    grid-area: n;
    background-color: rgb(135, 241, 236);
    box-shadow:black 0 0 10px;
    border-radius: 10px;
    width:200px ;
    padding: 20px;
   }


.sidBar{
    display: flex;
    flex-wrap: wrap;

}
.vseti{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px 10px 10px ;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    
}