.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;

  grid-template-areas:
    "h h"
    "n c";    /* 1 строка это две колонки header , 2 строка nav и content*/
    
    
  grid-template-rows: 60px 1fr;  /*говорим сколько вообще строк будет сайта*/
  grid-template-columns: 1fr 5fr; /*говорим сколько колонок сайта*/
  grid-gap: 10px; /*Расстояние между эллементами*/
}



.app-wrapper-content{
  width: 100%; 
  border-radius: 20px;
  box-shadow: 0 0 5px black;
  grid-area: c;
  background-color: rgb(255, 255, 255);
}

